{% block integer_row %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="custom-select d-block w-100">

            </div>
        </div>
    </div>
{% endblock %}
{% block string_row %}
    <div class="col-md-6 mb-3">
        <div class="form-control">
            {# ... render the HTML element to display this field ... #}
        </div>
    </div>
{% endblock %}