{% extends 'base.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" href="css/vehicule/formVehicule.css">
{%  endblock %}

{% block body %}

    {# ... #}
    {# this tag only applies to the forms defined in this template #}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block bodyy %}
        <h1>User Sign Up:</h1>
        {{ form(form, { 'attr': {'class': 'form-inline'} }) }}
    {% endblock %}

{% endblock %}
