{% extends 'base.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" href="css/vehicule/formVehicule.css">
{%  endblock %}

{% block body %}

    {# ... #}
    {# this tag only applies to the forms defined in this template #}


    {% block bodyy %}
        <div class="col-md-8 order-md-1 pad-top">
            <h1>User Sign Up:</h1>
            {{ form(form) }}
        </div>
    {% endblock %}

{% endblock %}
