{% extends 'base.html.twig' %}
{% block title %}Page administration{% endblock %}

{%  block stylesheets %}

{%  endblock %}

{% block dessous %}
    <!-- on créer un formulaire fictif afin de pouvoir rediriger vers un controller avec le code js-->
    <form id="formsuppr" method="post" action="supprimer" style="display:none">
        <input type="hidden" name="id" />
        <input type="hidden" name="table" value={{ type }} />
    </form>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <!-- éléments du menu -->
                            <li class="nav-item"><a class="nav-link pl-0" href="adminpg?table=utilisateurs">Gestion des utilisateurs</a></li>
                            <li class="nav-item"><a class="nav-link pl-0" href="adminpg?table=vehicules">Gestion des véhicules</a></li>
                            <li class="nav-item"><a class="nav-link pl-0" href="vehicule">Insérer un nouveau véhicule</a></li>

                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        {% for nomCol in entete %}
                            <th scope="col"> {{ nomCol }} </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                   {% for data in datas %}
                        <tr>

                            {% for key in data|keys %}
                                <td>{{ data[key] }}</td>
                            {% endfor %}
                            <td>

                                <button type="submit" id="{{ data.id }}" onclick="supprimer(this.id)"> - </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script>
        function supprimer($id) {
            if (confirm('Etes-vous sure de vouloir supprimer ce tuple ?')) {
                $input = document.getElementsByName("id")[0]
                $input.value = $id

                document.getElementById('formsuppr').submit()
            }
        }
    </script>
{% endblock %}