<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="css/base.css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {%  block header %}
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-1 col-xs-2 mr-0" href="accueil">locaBus</a>
                <input class="form-control form-control-dark w-75" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav px-3">
                    {% if app.user %}
                        <a href="logout"><button class="btn btn-primary">Déconnexion</button></a>
                        <a href="panier"><button class="btn btn-warning m-2"><ion-icon name="cart"></ion-icon>{{ app.user.nbCartElement }}</button></a>
                    {% else %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endblock %}

            <div class="container-fluid pad-top">
                <div class="row">
                    {% block body %}{%  endblock %}
                </div>
            </div>

            <!-- Bandeau d'accès aux fonctions admin -->
            {% block blockadmin %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="alert alert-danger" role="alert">
                        <p>Vous êtes connecté en tant qu'administrateur</p>
                        <a href="adminpg">Cliquez ici pour accéder aux fonctions d'administration</a>
                    </div>
                {% endif %}
            {% endblock %}

            {% block dessous %} {% endblock %}

        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        {% block javascripts %}{% endblock %}

        {% block footer %}
           <footer class="page-footer font-small special-color-dark pt-4">
                <div class="footer-copyright text-center py-3">
                    © Hugo Labbé, Valentin Hagnéré 2019
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
