{% extends 'base.html.twig' %}

{% block title %}Mentions légales et contacts{% endblock %}

{% block dessous %}
    <h1>Contacts:</h1>
    <ul>
        <li>Hugo Labbé: hugo.labbe@etu.univ-lehavre.fr</li>
        <li>Valentin Hagnéré: valentin.hagnéré@univ-lehavre.fr</li>
    </ul>

    <h1>Crédit photographique</h1>
    <ul>
        <li>Poste de conduite Mercedes intouro €5 Keolis Seine-Maritime: Hugo Labbé, 2015</li>
        <li>Gare routière Paris Porte d'Orléans: Hugo Labbé, 2019</li>
        <li>Autres photos des véhicules: https://www.transbus.org, irizar.com</li>
        <li>Vignettes crit'air: © Ministère de la Transition Ecologique et Solidaire</li>
    </ul>
{% endblock %}

