{% extends 'base.html.twig' %}
{% block title %}Erreur de droits d'accès{% endblock %}

{% block dessous %}
    <main role="main">
        <h1 class="h1">Oops ! Erreur d'accès...</h1>
        <p class="font-weight-light">Il semblerait que vous n'ayez pas les droits d'accéder à cette page</p>
        <p class="font-weight-light">Si vous aviez les droits habituellement, contactez votre administrateur</p>

    </main>
{%  endblock %}

