{% extends 'base.html.twig' %}
{% block title %}Page administration{% endblock %}

{%  block stylesheets %}

{%  endblock %}

{% block dessous %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <!-- éléments du menu -->
                            <li class="nav-item"><a class="nav-link pl-0" href="#">Coordonnées</a></li>
                            <li class="nav-item"><a class="nav-link pl-0" href="#">Mes commandes</a></li>
                            <!--<li class="nav-item"><a class="nav-link pl-0" href="#">Gestion des chauffeurs</a></li>-->

                        </ul>
                    </div>
                </nav>
            </aside>
        </div>
    </div>
{%  endblock %}
